@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Normalize */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* list-style: none; */
  text-decoration: none;
  border: none;
  outline: none;
}

/* Header */

header {
  background-color: #7eb4e2;
  background-image: url(../img/hockey3.jpg);
  background-repeat: no-repeat;
  height: 39vh;
  background-size: cover;
  background-position: 50% 65%;
}

h1 {
  font-size: 2.5rem;
  color: #f8e12e;
  background: #001647;
  display: inline;
  border: 3px solid #211915;
  padding: 0.4rem;
  text-shadow: -1px 1px 0 #211915, 1px 1px 0 #211915, 1px -1px 0 #211915,
    -1px -1px 0 #211915;
}

/* container secundario */

.container_secundario {
  background-color: #001647;
  display: flex;
  min-height: 8vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.titulo_secundario {
  text-align: center;
  color: #f8e12e;
  font-size: 3em;
  width: 70%;
  text-shadow: -1px 1px 0 #211915, 1px 1px 0 #211915, 1px -1px 0 #211915,
    -1px -1px 0 #211915;
}

.logo_uno {
  height: 4rem;
  width: auto;
  transform: scale(3);
  transition: all 0.5s ease;
}

.logo_uno:hover {
  transform: scale(1);
}

/* main */

main {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vh;
  align-items: center;
  border: 3px solid #5fa199;
  padding: 30px;
  background-color: #001647;
  color: white;
  min-height: 38vh;
  flex-wrap: wrap;
}

main nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 15vw;
  max-height: 44vh;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 100vw;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  max-width: 70%;
  min-height: 30vh;
  margin-top: 5vh;
}

section,
dl {
  overflow-x: auto;
  border: 2px solid white;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_hover:hover {
  transform: scale(1.1);
  border: 2px solid #f8e12e;
  background-color: #3b5998;
}

.container__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

p {
  font-weight: bold;
}

h3 {
  display: inline;
}

main img {
  height: auto;
  max-width: 35vw;
  object-fit: cover;
}

/* Schedule */

table {
  min-width: 60vw;
  font-size: 1rem;
}

td > a {
  text-decoration: none;
  color: inherit;
}

th,
td {
  padding: 8px;
}

.tr_distinct {
  background-color: #3b5998;
}

.section_games {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section_games a {
  text-decoration: none;
  color: inherit;
}
.contact_games {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section_maps {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

iframe {
  min-width: 35vw;
  height: 35vh;
}

/* Rules */

dl {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: start;
  background-color: #fff;
  color: #001647;
}

dt {
  font-weight: bolder;
}

dl > dd > ol {
  list-style-type: decimal;
  gap: 2rem;
}

dd ol {
  gap: 0.2rem;
  list-style-type: lower-alpha;
}

ol,
ul,
dl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  list-style-position: inside;
}

ul {
  list-style-type: circle;
}

/* Contact */

.contact {
  align-items: center;
}
.ul_contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
  list-style: none;
}
/* Mail */

strong {
  color: white;
  font-style: italic;
}

/* Iconos */

.fa-solid,
.fa-brands,
.fa-duotone {
  font-size: 2rem;
  text-shadow: 0 10px 10px #00aced;
  transition: transform 0.5s ease-in-out;
}

.contact .fa-solid:hover,
.contact .fa-brands:hover,
.contact .fa-duotone:hover {
  transform: scale(1.5) rotate(360deg);
  text-shadow: 0 10px 10px white;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-house {
  color: #dd4b39;
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001647;
  color: #f8e12e;
  height: 6vh;
}

/* Botones */

.top {
  position: sticky;
  bottom: 1.2rem;
  margin-right: 10px;
  place-self: end;
  text-decoration: none;
  padding: 10px;
  font-weight: bolder;
  font-family: sans-serif;
  color: #000;
  background: #fff;
  border-radius: 100px;
  white-space: nowrap;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #494949;
  background: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

nav .disabled {
  background-color: #211915 !important;
  pointer-events: none;
  color: red;
  opacity: 0.5;
}

nav a:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #fff700,
    #ff7000,
    #ff00fe,
    #3ff4eb,
    #9e00ff,
    #00beff,
    #ff00dd,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

nav a:active {
  color: #000;
}

nav a:active:after {
  background: transparent;
}

nav a:hover {
  transform: scale(1.05);
}

nav a:hover:before {
  opacity: 1;
}

nav a:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
