@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/* CSS del archivo Index*/
.header_index {
  background-color: blue;
}

/* CSS del archivo About*/
.header_about {
}

/* CSS del archivo Contact*/
